
  $main-height:  calc(100vh - 100px - 30px - 90px);
  $right-width: calc(100vw - 300px);

  

  .left {
    width: 300px;
    float:left;
    &__header {
      height: 100px;
      width: 300px;
      background-color: #253141;
      top: 0;
      left:0;
      &__name {
        padding-top: 42px;
        padding-left: 20px;
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        float: left;
       }
      &__btn {
        padding-top:42px;
        color: white;
        float: right;
        &--gear {
          padding-right: 20px;
          cursor: pointer;
        }
        &--edit {
          padding-right: 5px;
          cursor: pointer;
        }
      }
    }
    &__main {
      overflow:scroll;
      height: calc(100vh - 90px);
      background-color: #2f3e51;
      width: 300px;
      float: left;
      position: absolute;
      left:0;
    }
  }
  .left__main__group_box {
    padding-left:20px;
    height: 91px;
    color: #ffffff;
  }
  
  .edittext {
    text-decoration: none;
  }
  .group_name {
    text-decoration: none;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;
  }
  .group__message {
    text-decoration: none;
    font-size: 14px;
    padding-top: 5px;
    font-weight: normal;
  }

  .right {
    width: calc(100vw - 300px);
    // display:flex;
    position: absolute;
    left: 300px;
    &__header {
      height: 99px;
      width: $right-width;
      background-color: #fafafa;
      color:black;
      border-bottom: solid 1px #eeeeee;
      top:0;
      left: 300px;
      z-index: 999;
      &__current_group_name {
        font-size: 20px;
        padding-left: 40px;
        padding-top: 40px;
        color: #333333;
        position: absolute;
        float: right;
      }
      &__joined_user {
        font-size: 12px;
        padding-left: 40px;
        padding-top: 70px;
        color: #999999;
        position: absolute;
        float: right;
      }
      &__btn {
        font-size:18px;
        border:solid 1px ;
        color: #38AEF0;       
        float: right;
        margin-top: 28px;
        margin-right: 40px;
        padding:10px 20px 10px 20px;;
        .EditLink {
        text-decoration: none;
        color: #38AEF0;
        cursor: pointer;
        }
      }
    }
   
  .messages {
    background-color: #fafafa;
    box-sizing: border-box;
    position: absolute;
    height: calc(100vh - 90px);
    width: 100vw;
    overflow:scroll;
    .message {
      box-sizing: border-box;
      width: $right-width;
      background-color: #fafafa;
      color: black;
      height: 100px;
      left: 300px;
      
      .upper-message {
        display: flex;
        padding: 46px 0 0px 40px;
        margin-bottom:10px;
        &__user-name {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: #434a54;
          font-size: 14px;
          padding-top: 24px;
          padding:0 0 40px 40px;
          margin-bottom:10px;
        }
      }
     }    
    }
  }
// .upper-message {   
      //   padding: 46px 0 40px 40px;
      //   margin-bottom:10px;
      //   &__user-name {  
      //     font-size: 16px;
      //     font-weight: bold;
      //     color: #434A54;   
      //     float: left;
      //   }
      //   &__date {
      //     font-size: 12px;
      //     color: #999999;
      //     float:left;
      //     padding-left:10px;
      //   }
      // .lower-message {
      //   font-size: 14px;
      //   color: red;
      //   padding-top: 24px;
      //   padding:0 0 40px 40px;
      //   margin-bottom:10px;

      
      // &__other_group_box {
    
      //   &--name {    
      //     font-size: 16px;
      //     font-weight: bold;
      //     color: #434A54;   
      //     float: left;     
      //   }
      //   &--date {
      //     font-size: 12px;
      //     color: #999999;
      //     float:left;
      //     padding-left:10px;
      //   }
      //   &--message {
      //     font-size: 14px;
      //     color: #434A54;
      //     padding-top: 24px;
      //   }
      // }
  

  .form {
    position: fixed;
    color: black;
    height: 90px;
    background-color: #ddd;
    width: calc(100vw - 300px);
    left: 300px;
    bottom:0;
    
    &__message {
      position: absolute;
      padding-left:10px;
      left: 40px;
      top:20px;
      background-color:#fafafa;
      height: 50px;
      width: calc(100vw - 300px - 40px - 10px - 10px - 15px - 100px - 40px);
      border: none;

      
      }
  .form__mask {
    position: absolute;
    float:right;
    right: 175px;
    top:30px;
    &__image {
    text-decoration: none;
    font-size: 1.3rem;
    color:black;
    cursor: pointer;
  .hidden {
    display: none;
    }

    }
  }
    
  .send {
    margin-left:15px;
    position: absolute;
    font-size:18px;
    width:100px;
    height: 50px;
    background-color: #38AEF0;       
    float: right;
    right:40px;
    top:22px;
    cursor: pointer;
    color: white;
  
  // .hidden {
  //   display: none;
  // }


      // .Send {
      // position: absolute;
      // text-decoration: none;
      // color:white;
      // top:15px;
      // right:30px;
      // float:right;
 
      // }
      }
    }
 