
  $main-height:  calc(100vh - 100px - 30px - 90px);
  $right-width: calc(100vw - 300px);

  

  .left {
    width: 300px;
    color:#ffffff;
    height: 100vh;
    &__header {
      height: 100px;
      width: 300px;
      background-color: #253141;
      top: 0;
      left:0;
      &__name {
        padding-top: 42px;
        padding-left: 20px;
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        float: left;
       }
      &__btn {
        padding-top:42px;
        color: white;
        float: right;
        &--gear {
          padding-right: 20px;
          cursor: pointer;
        }
        &--edit {
          padding-right: 5px;
          cursor: pointer;
        }
      }
    }
    &__main {
      overflow:scroll;
      height: calc(100vh - 100px);
      color: white;
      background-color: #2f3e51;
      width: 300px;
      float: left;
      position: absolute;
      left:0;
      &__group_box {
        padding-left:20px;
        height: 91px;
        color: #ffffff;
        &__group_name {
          padding-top: 20px;
          font-size: 15px;
          font-weight: bold;
          &__text {
            font-size: 14px;
            padding-top: 5px;
            font-weight: normal;
          }
        }
      }
    }
  }

  .right {
    height: 100vh;
    width: calc(100vw - 300px);
    float: right;
    left: 300px;
    &__header {
      height: 99px;
      width: $right-width;
      background-color: #fafafa;
      color:black;
      border-bottom: solid 1px #eeeeee;
      position: fixed;
      top:0;
      left: 300px;
      &__current_group_name {
        font-size: 20px;
        padding-left: 40px;
        padding-top: 40px;
        color: #333333;
        position: absolute;
        float: right;
      }
      &__joined_user {
        font-size: 12px;
        padding-left: 40px;
        padding-top: 70px;
        color: #999999;
        position: absolute;
        float: right;
      }
      &__btn {
        font-size:18px;
        border:solid 1px ;
        color: #38AEF0;       
        float: right;
        margin-top: 28px;
        margin-right: 40px;
        padding:10px 20px 10px 20px;;
        .EditLink {
        text-decoration: none;
        color: #38AEF0;
        cursor: pointer;
        }
      }
    }
    &__main {
      box-sizing: border-box;
      overflow:scroll;
      height: calc(100vh - 100px - 90px);
      width: $right-width;
      background-color: #fafafa;
      color: black;
      position: absolute;
      top:100px;
      left: 300px;
      &__first_group_box {   
        height: 86px; 
        padding-top:46px;
        padding-left: 40px;
        &--name {  
          font-size: 16px;
          font-weight: bold;
          color: #434A54;   
          float: left;  
        }
        &--date {
          font-size: 12px;
          color: #999999;
          float:left;
          padding-left:10px;
        }
        &--message {
          font-size: 14px;
          color: #434A54;
          padding-top: 24px;
        }
      }
      &__other_group_box {
        height: 80px; 
        padding-top:40px;
        padding-left: 40px;
        &--name {    
          font-size: 16px;
          font-weight: bold;
          color: #434A54;   
          float: left;     
        }
        &--date {
          font-size: 12px;
          color: #999999;
          float:left;
          padding-left:10px;
        }
        &--message {
          font-size: 14px;
          color: #434A54;
          padding-top: 24px;
        }
      }
    }
  

    &__form {
      box-sizing: border-box;
      position: fixed;
      color: black;
      height: 90px;
      background-color: #ddd;
      width: calc(100vw - 300px);
      left: 300px;
      bottom:0;
      
      &__message {
        position: absolute;
        padding-left:10px;
        left: 40px;
        top:20px;
        background-color:#fafafa;
        height: 50px;
        width: calc(100vw - 300px - 40px - 10px - 10px - 15px - 100px - 40px);
        border: none;

        &__photo {
          position: absolute;
          float:right;
          right: 175px;
          top:30px;
          .image {
          text-decoration: none;
          font-size: 1.3rem;
          color:black;
          z-index: 999;
          cursor: pointer;
          }
        }
  
      }
      
      &__btn {
        margin-left:15px;
        position: absolute;
        font-size:18px;
        width:100px;
        height: 50px;
        background-color: #38AEF0;       
        float: right;
        right:40px;
        top:22px;
        cursor: pointer;

        .Send {
        position: absolute;
        text-decoration: none;
        color:white;
        top:15px;
        right:30px;
        float:right;
  
        }
      } 
  }
}